:root {
    --palette-color-1: #264653;
    --palette-color-2: #2A9D8F;
    --palette-color-3: yellow;
    --palette-color-4: #fcbf49; 
    --palette-color-5: black;
}

body {
    background: var(--palette-color-5);
}

header {
    background-color: white;
}

e3-header {
    --theme-color-1: var(--palette-color-1);
    --theme-color-2: var(--palette-color-2);
}

footer {
    background-color: var(--palette-color-5);
}

e3-footer {
    --theme-color: var(--palette-color-5);
}