:host {
    font-size: small;
}

section:nth-of-type(2), section:last-child {
    display: block;
}

@media (max-width: 480px), (max-height: 480px) {
    section:nth-of-type(2), section:last-child {
        display: grid;
    }
}