:host {
    display: none;
    font-size: medium;
    position: relative;
}

main {
    position: absolute;
    z-index: 100;
    margin-top: 10%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
    opacity: 0.5;
}

button {
    font-size: 1em;
    padding: 5px 40px;
    cursor: pointer;
    opacity: 0.7;
}

@media (max-width: 480px) {
    :host {
        font-size: small;
    }

    main {
        margin-top: 5%;
    }
}